a(href="https://tds.favbet.partners").main-link
.fav-page
    .fav-page__main
        .fav-page__left
            .fav-page__left-cont
                img(src="img/logo.svg" alt="Favbet").fav-page__left-logo
                .fav-page__bonus
                    .fav-page__bonus-fc 80 FС
                    .fav-page__bonus-info за верифікацію
                a(href='https://tds.favbet.partners').fav-page__btn за бонусом
            .fav-page__bottom * Бонус доступний у вигляді FC (або FAVCOIN), що є внутрішньо-ігровою бонусною валютою, яка доступна Гравцеві виключно в підрозділі «Прокачай гру» розділу «Акції». Період дії місії «Місія "Верифікація"» з 16.06.2025 по 31.07.2025. Деталі на favbet.ua
        .fav-page__right
            .fav-page__sam
                picture
                    source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/sam-desk.png")
                    source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/sam-tab.png")
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/sam-mob.png")
                    source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/sam-mob.png")
                    img(src="img/sam-desk.png" alt="Favbet")
            .fav-page__decor
                .fav-page__decor-confetty
                    picture
                        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/confetty-desk.png")
                        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/confetty-tab.png")
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/confetty-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/confetty-mob.png")
                        img(src="img/confetty-desk.png" alt="Favbet")
                .fav-page__decor-gift-1
                    picture
                        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/gift-1-desk.png")
                        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/gift-1-tab.png")
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/gift-1-tab.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/gift-1-tab.png")
                        img(src="img/gift-1-desk.png" alt="Favbet")
                .fav-page__decor-gift-2
                    picture
                        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/gift-2-desk.png")
                        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/gift-2-tab.png")
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/gift-2-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/gift-2-mob.png")
                        img(src="img/gift-2-desk.png" alt="Favbet")
                .fav-page__decor-gift-3
                    picture
                        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/gift-3-desk.png")
                        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/gift-3-tab.png")
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/gift-3-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/gift-3-mob.png")
                        img(src="img/gift-3-desk.png" alt="Favbet")
                .fav-page__decor-gift-4
                    picture
                        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/gift-4-desk.png")
                        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/gift-4-tab.png")
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/gift-4-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/gift-4-mob.png")
                        img(src="img/gift-4-desk.png" alt="Favbet")
                .fav-page__decor-coin-1
                    picture
                        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/coin-1-desk.png")
                        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/coin-1-tab.png")
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/coin-1-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/coin-1-mob.png")
                        img(src="img/coin-1-desk.png" alt="Favbet")
                .fav-page__decor-coin-2
                    picture
                        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/coin-2-desk.png")
                        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/coin-2-tab.png")
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/coin-2-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/coin-2-mob.png")
                        img(src="img/coin-2-desk.png" alt="Favbet")
                .fav-page__decor-coin-3
                    picture
                        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/coin-3-desk.png")
                        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/coin-3-tab.png")
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/coin-3-tab.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/coin-3-tab.png")
                        img(src="img/coin-3-desk.png" alt="Favbet")
                .fav-page__decor-coin-4
                    picture
                        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/coin-2-desk.png")
                        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/coin-2-tab.png")
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/coin-2-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/coin-2-mob.png")
                        img(src="img/coin-2-desk.png" alt="Favbet")
.fav-page__footer
  .fav-page__footer-text ТОВ «БУКМЕКЕРСЬКА КОМПАНІЯ «ФАВБЕТ». Ліцензія на провадження діяльності з організації та проведення букмекерської діяльності від 28.12.2022, видана згідно з рішенням КРАІЛ № 433 від 13.12.2022 та Ліцензія на провадження діяльності з організації та проведення азартних ігор казино в мережі Інтернет від 20.04.2021, видана згідно з рішенням КРАІЛ № 137 від 05.04.2021, зі змінами.
  .fav-page__footer-info
      .fav-page__footer-info-licensed
        img(src='img/age.svg' alt='21+').fav-page__footer-info-licensed-one.fav-page__footer-info-licensed-img
        img(src='img/applePay.svg' alt='applePay').fav-page__footer-info-licensed-two.fav-page__footer-info-licensed-img
        img(src='img/googlePay.svg' alt='googlePay').fav-page__footer-info-licensed-three.fav-page__footer-info-licensed-img
        img(src='img/visa.svg' alt='visa').fav-page__footer-info-licensed-fourth.fav-page__footer-info-licensed-img
        img(src='img/mastercard.svg' alt='mastercard').fav-page__footer-info-licensed-five.fav-page__footer-info-licensed-img
      .fav-page__footer-info-buttons
        a(href='https://apps.apple.com/ua/app/favbet-ua/id1580749519' aria-label='link-appStore' target='_blank').fav-page__footer-info-buttons-apple
          img(src='img/appleBtn.png' alt='apple-store')
        a(href='https://favbet.ua/minio/android-files/FavbetUA.apk' aria-label='link-googleStore' target='_blank').fav-page__footer-info-buttons-google
          img(src='img/googleBtn.svg' alt='google-store')
.fav-page__legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ